@*@model LoopLeader.Domain.Entities.Member*@
@model LoopLeader.Models.RegisterViewModel

@{
    ViewBag.Title = "Member Info";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2>Member Info</h2>
@Model.UserName
<br />
@Model.LastName
<br />
@Model.FirstName
<br />
@Model.EmailAddress
<br />
@Model.StreetAddress
<br />
@Model.City
<br />
@Model.State
<br />
@Model.ZipCode
<br />
@Model.Country
<br />

@Html.ActionLink("Done", "Index", "Admin")
