@model IEnumerable<LoopLeader.Models.RegisterViewModel>

@
    ViewBag.Title = "Member Admin";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2>Member Admin Index</h2>

Select the member to modify:<br />
@*@using (Html.BeginForm())
{
    @Html.DropDownListFor(model => model.MemberList.First().Id, new SelectList(Model.MemberList.AsEnumerable(), "MemberId", "LoginName"))
    <br />
    <br />
    <input type="submit" value="Edit" />
}*@
<p>
    @Html.ActionLink("Create New", "CreateMember")
</p>
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>First</th>
        <th>Last</th>
        <th>Email Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MemberId</td>
            <td>@Html.ActionLink(item.LoginName, "EditMember", new { item.Id })</td>
            <td>@Html.ActionLink(item.FirstName, "EditMember", new { item.Id })</td>
            <td>@Html.ActionLink(item.LastName, "EditMember", new { item.Id })</td>
            <td>@Html.ActionLink(item.Email, "EditMember", new { item.Id })</td>
            <td>
                @using (Html.BeginForm("DeleteMember", "Admin"))
                {
                    @Html.Hidden("MemberId", item.MemberId)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Add a new member", "CreateMember")</p>