<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles.css")" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1><span style="color:darkgray">The Loop<br />Leader</span></h1>
        <nav class="memberNav">
            @Html.Partial("_LoginPartial")
        </nav>
        <nav class="horizontalNav">
            <ul>
                <li>@Html.ActionLink("Contact", "/", "Contact")</li>
                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li>@Html.ActionLink("Order", "List", "Product")</li>
                <li>@Html.ActionLink("Information", "Info", "Home")</li>
                <li>@Html.ActionLink("Home", "/", "Home")</li>
            </ul>
        </nav>
    </header>
    <br />
    <section>
        <nav class="verticalNav">
            <ul>
                <li>@Html.ActionLink("Members", "Members", "Admin")</li>
                <li>@Html.ActionLink("Products", "Products", "Admin")</li>
                <li>@Html.ActionLink("Content", "Content", "Admin")</li>
            </ul>
        </nav>
    </section>
    <div class="grayback">
        @RenderBody()
    </div>
    <footer>
        <nav class="footerNav">
            <ul>
                <li>@Html.ActionLink("©" + DateTime.Now.Year + " CMC", "/", "Home")</li>
                <li>@Html.ActionLink("Sitemap", "/", "Home")</li>
                <li>@Html.ActionLink("Legal", "/", "Home")</li>
            </ul>
        </nav>
    </footer>
</body>
</html>